body {
  background-color: #181a1b;
  transition: background-color 0.5s, cursor 0.5s;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  overflow: hidden;
  cursor: default;
}

.settings {
  opacity: 1;
  transition: opacity 0.5s;
  user-select: none;
  cursor: default;
}

.settings.hidden {
  opacity: 0;
  pointer-events: none;
}

.settings input,
.settings select {
  user-select: auto;
  cursor: auto;
}

.settings button {
  margin-top: 10px;
  cursor: pointer;
}

.hide-cursor {
  cursor: none;
}